.main-page {
  display: flex;

  width: 100vw;
  height: 100vh;

  background-color: var(--bg-dark);

  overflow: hidden;

  & > aside {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: var(--s4);

    width: fit-content;
    padding: var(--s4) var(--s3);

    background-color: var(--bg-sidebar);
    border-right: 1px solid var(--border-color);

    & .collapse-button {
      position: absolute;
      right: -9px;
      top: 0;

      padding: var(--s1) 0;
      margin-top: var(--s4);

      background-color: var(--bg-sidebar);
      border: 1px solid var(--border-color);
      border-radius: var(--s1);

      color: var(--border-color);

      &:hover {
        background-color: var(--bg-card);
        color: var(--text-main);
      }

      & span {
        font-size: 16px;
      }
    }

    & > div {
      display: flex;
      align-items: center;
      gap: var(--s3);

      width: 100%;
      padding: var(--s2);

      & img {
        width: 24px;
        height: 24px;
        object-fit: contain;
      }

      & span {
        display: flex;

        color: var(--text-main);
        font-size: var(--text-h3);
        font-weight: 700;
      }
    }

    & nav {
      display: flex;
      flex-direction: column;
      gap: var(--s2);
      flex: 1;

      & button {
        display: flex;
        align-items: center;
        gap: var(--s3);

        width: 100%;
        padding: var(--s2);

        border-radius: 8px;

        color: var(--text-muted);
        font-size: var(--text-small);
        font-weight: 500;

        transition: all 0.2s ease;

        & span:first-child {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &:hover:not(.active) {
          background-color: #ffffff0d;
          color: var(--text-main);
        }

        &.active {
          background-color: #ffffff;
          color: #000000;

          & span {
            color: #000000;
          }
        }

        &:last-child {
          margin-top: auto;
        }
      }
    }
  }

  & > aside.collapsed {
    & .span-colapsed {
      display: none;
    }
  }

  & > main {
    display: flex;
    flex-direction: column;
    flex: 1;

    overflow-y: auto;

    & > header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 100%;
      min-height: 48px;

      padding: var(--s4);

      background-color: var(--bg-sidebar);
      border-bottom: 1px solid var(--border-color);

      color: var(--text-main);
      font-size: var(--text-h3);
      font-weight: 600;

      & nav {
        display: flex;
        gap: var(--s2);

        & button {
          padding: var(--s1);

          background-color: transparent;
          border-radius: var(--s1);

          color: var(--text-muted);

          &:hover {
            background-color: #ffffff0d;
            color: var(--text-main);
          }

          & .material-symbols-outlined {
            font-variation-settings:
              "FILL" 1,
              "wght" 400,
              "GRAD" 0,
              "opsz" 24;
          }

          & span {
            color: inherit;
          }
        }
      }
    }

    & > section {
      display: flex;
      flex-direction: column;
      flex: 1;

      padding: var(--s4);
    }
  }
}
