@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  /* CORES DO BACKGROUND */
  --bg-main: #0b0e17;
  --bg-sidebar: #101422;
  --bg-surface: #161b2e;
  --bg-card: #20273d;
  --border: #2a324a;

  /* CORES DESTAQUE */
  --accent-blue: #3b82f6;
  --accent-blue-hover: #2563eb;

  /* CORES DO TEXTO */
  --text-main: #ffffff;
  --text-muted: #9ca3af;

  /* PINOS & MARCAÇÕES DE PRIORIDADE */
  --color1: #ef4444;
  --color2: #f99d17;
  --color3: #f5de0b;
  --color4: #54b740;
  --color5: #3857e0;
  --color6: #9f69f4;

  /*Tipografia*/
  --text-small: 0.75rem;
  --text-body: 1rem;
  --text-h3: 1.25rem;
  --text-h2: 1.5rem;
  --text-h1: 2rem;
  --text-display: 2.5rem;

  --font: "Inter", Courier, monospace;

  /*Espaçamentos*/
  --s1: 0.25rem; /*4*/
  --s2: 0.5rem; /*8*/
  --s3: 0.75rem; /*12*/
  --s4: 1rem; /*16*/
  --s5: 1.5rem; /*24*/
  --s6: 2rem; /*32*/
  --s7: 3rem; /*48*/
  --s8: 4rem; /*64*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--font);

  transition: all 0.3s;
}

button {
  display: flex;

  background: none;
  border: none;

  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;

  height: 100vh;

  background-color: var(--bg-main);
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}
